In [1]:
import pandas as pd

df1 = pd.read_csv('./file_created_2/dki1.csv')
df2 = pd.read_csv('./file_created_2/dki2.csv')
df3 = pd.read_csv('./file_created_2/dki3.csv')
df4 = pd.read_csv('./file_created_2/dki4.csv')
df5 = pd.read_csv('./file_created_2/dki5.csv')

In [2]:
df_merged = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)
df_merged.tail()

        tanggal stasiun  pm10  pm25   so2   co    o3   no2               id
455  2025-11-26    DKI5  27.0  59.0  29.0  5.0  20.0  17.0  2025-11-26_DKI5
456  2025-11-27    DKI5  35.0  64.0  31.0  6.0  29.0  22.0  2025-11-27_DKI5
457  2025-11-28    DKI5  47.0  73.0  34.0  8.0  32.0  29.0  2025-11-28_DKI5
458  2025-11-29    DKI5  38.0  70.0  31.0  8.0  30.0  29.0  2025-11-29_DKI5
459  2025-11-30    DKI5  53.0  85.0  30.0  8.0  35.0  24.0  2025-11-30_DKI5

In [3]:
sorted_merged = df_merged.sort_values(by=['tanggal', 'stasiun'], ascending=[True, True])

In [4]:
sorted_merged

        tanggal stasiun  pm10  pm25   so2    co    o3   no2               id
0    2025-09-01    DKI1  56.0  88.0  36.0  10.0  20.0  26.0  2025-09-01_DKI1
92   2025-09-01    DKI2   0.0  85.0  44.0  14.0  23.0  14.0  2025-09-01_DKI2
184  2025-09-01    DKI3  45.0  86.0  55.0  10.0  24.0  44.0  2025-09-01_DKI3
276  2025-09-01    DKI4  42.0  79.0  28.0  10.0  26.0  14.0  2025-09-01_DKI4
368  2025-09-01    DKI5  50.0  86.0  30.0   9.0  26.0  33.0  2025-09-01_DKI5
..          ...     ...   ...   ...   ...   ...   ...   ...              ...
91   2025-11-30    DKI1  55.0  77.0  33.0  13.0  16.0  30.0  2025-11-30_DKI1
183  2025-11-30    DKI2  45.0  67.0  51.0  15.0  19.0  13.0  2025-11-30_DKI2
275  2025-11-30    DKI3  34.0  60.0  54.0   9.0  20.0  64.0  2025-11-30_DKI3
367  2025-11-30    DKI4  56.0  56.0  32.0   9.0  23.0  24.0  2025-11-30_DKI4
459  2025-11-30    DKI5  53.0  85.0  30.0   8.0  35.0  24.0  2025-11-30_DKI5

[460 rows x 9 columns]

In [5]:
sorted_merged.to_csv('test_2_scrapping_lastValue.csv', index=False)

In [27]:
sorted_merged['id'] = sorted_merged['tanggal'].astype(str) + '_' + sorted_merged['stasiun'].astype(str)

In [32]:
sorted_merged.drop(columns='stasiun', inplace=True)

In [33]:
sorted_merged.to_csv('testdata_scraping.csv', index=False)